body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 200px;
    background-color: hsl(0, 0%, 40%);
}

#game-title {
    font-family: "Verdana";
    font-size: 50px;
}

#gm-title {
    font-family: "Verdana";
    font-size: 30px;
}

.opponent-button {
    font-family: "Verdana";
    font-size: 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
}

.opponent-button:hover {
    background-color: #0056b3;
}